.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: rgb(122, 94, 82);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
